    body {
        background-color: #f8f8f8;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .search.zone {
        background-color: #145885;
        padding: 1.5rem;
        text-align: center;
    }

    .searchBar {
        margin-bottom: 1.5rem;
    }

    .searchTerm {
        border: 2px solid #000000;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .searchButton, .randButton {
        background-color: #00a143;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        cursor: pointer;
        padding: 1rem 2rem;
    }

    .searchButton:hover, .randButton:hover {
        background-color: #00a143;
        color: #000000;
    }